body{
    margin: 0;
}
.header{
    background-color: rgb(249, 246, 246);
    width: 100%;
    height: 110px;
    text-align: center;
}
img{
    height: 100px;
    width: 300px;
}
.main{
    background-color: rgb(249, 246, 246);
    width: 100%;
    height: 610px;
}
.login{
    background-color: white;
    width: 432px;
    height: 500px;
    font-family: Helvetica, Arial, sans-serif;
}
.head{
    width: 432px;
    height: 76px;
}
.txt1{
    width: 400px;
    height: 32px;
    font: 25px bold Helvetica, Arial, sans-serif;;
}
.txt2{
    width: 400px;
    height: 24px;
    font-size: 15px;
}